[submodule "deps/async"]
	path = deps/async
	url = https://github.com/caolan/async.git
[submodule "deps/underscore"]
	path = deps/underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "deps/nodeunit"]
	path = deps/nodeunit
	url = https://github.com/caolan/nodeunit.git
[submodule "deps/node-mime"]
	path = deps/node-mime
	url = https://github.com/bentomas/node-mime.git
[submodule "deps/dustjs"]
	path = deps/dustjs
	url = https://github.com/caolan/dustjs.git
