[submodule "deps/async"]
	path = deps/async
	url = git://github.com/caolan/async.git
[submodule "deps/underscore"]
	path = deps/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "deps/nodeunit"]
	path = deps/nodeunit
	url = git://github.com/caolan/nodeunit.git
[submodule "deps/node-mime"]
	path = deps/node-mime
	url = git://github.com/bentomas/node-mime.git
