<h1>
  <a href="{baseURL}/">Apps</a>
  <a href="{baseURL}/{app}">{app_heading}</a>
  <a href="{baseURL}/{app}/types/{type}">{type_heading}</a>
  <strong><a href="{baseURL}/{app}/types/{type}/add">Add {type}</a></strong>
</h1>

<div id="main">

  {>"flashmessages.html"/}

  <h2>Add {type}</h2>

  <form action="" method="POST">
    <table class="form_table">
    {form|s}
    </table>
    <div class="bottom_actions">
      <div class="button">
        <input class="icon" type="submit" value="Y" />
        <input class="label" type="submit" value="Create {type}" />
      </div>
      <a class="button" href="{baseURL}/{app}/types/{type}">
        <span class="icon">x</span>
        <span class="label">Cancel</span>
      </a>
    </div>
  </form>

</div>
