<h1>
  <a href="{baseURL}/">Apps</a>
  <a href="{baseURL}/{app}">{app_heading}</a>
  <a href="{baseURL}/{app}/types/{type}">{type_heading}</a>
  <strong><a href="{baseURL}/{app}/types/{type}/add">Add {type_title}</a></strong>
</h1>

<div id="main">

  {>"flashmessages.html"/}

  <h2>Add {type_title}</h2>

  {?description}
    <p class="description">{description}</p>
  {/description}

  <form action="" method="POST">
    {form|s}
    <div class="bottom_actions">
      <div class="button">
        <input class="icon" type="submit" value="Y" />
        <input class="label" type="submit" value="Create {type_title}" />
      </div>
      <a class="button" href="{baseURL}/{app}/types/{type}">
        <span class="icon">x</span>
        <span class="label">Cancel</span>
      </a>
    </div>
  </form>

</div>
