<h1>
  <a href="{baseURL}/">Apps</a>
  <strong><a href="{baseURL}/{app}">{app_heading}</a></strong>
</h1>

<div id="main">

  {>"flashmessages.html"/}

  <h2>Types</h2>

  {?types}
    <ul>
    {#types}
      <li><a href="{baseURL}/{app}/types/{key}">{title}</a></li>
    {/types}
    </ul>
  {:else}
    <p>There are no types defined for this app.</p>
  {/types}

  <h2>Views</h2>

  {?views}
    <ul>
    {#views}
      <li><a href="{url}">{title}</a></li>
    {/views}
    </ul>
  {:else}
    <p>There are no views defined for this app.</p>
  {/views}

</div>
