<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <link rel="stylesheet" type="text/css"
        href="{baseURL}/static/styles/style.css" /> 
    <link rel="stylesheet" type="text/css"
        href="{baseURL}/static/contrib/styles/jquery.upopup-1.0.0.css" /> 
    <title>{title}</title> 
  </head> 
  <body> 
    {>"session.html"/}
    <div id="content">
      {content|s}
    </div>
    <script src="{baseURL}/static/contrib/jquery-1.4.2.min.js"></script>
    <script src="{baseURL}/static/contrib/jquery.upopup-1.0.0.js"></script>
    <script src="{baseURL}/static/contrib/json2.js"></script>
    <script src="{baseURL}/kanso.js"></script>
  </body>
</html>
