<h1>
  <a href="{baseURL}/">Apps</a>
  <a href="{baseURL}/{app}">{app_heading}</a>
  <a href="{baseURL}/{app}/types/{type}">{type_heading}</a>
  <strong><a href="{baseURL}/{app}/edit/{id}">Edit {id}</a></strong>
</h1>

<div id="main">

  {>"flashmessages.html"/}

  <form action="" method="POST">

    <h2>Edit {id}</h2>
    {form|s}
    <div class="bottom_actions">
      <div class="button">
        <input class="icon" type="submit" value="Y" />
        <input class="label" type="submit" value="Save changes" />
      </div>
      <a class="button" href="{baseURL}/{app}/view/{id}">
        <span class="icon">x</span>
        <span class="label">Cancel</span>
      </a>
    </div>

  </form>

</div>
