{#rows}
  <tr>
    <td class="data"><a href="{baseURL}/{app}/view/{id}">{display_name}</a></td>
    <td class="actions">
      <a class="button" href="{baseURL}/{app}/view/{id}">
        <span class="icon">4</span><span class="label">View</span>
      </a>
      <a class="button" href="{baseURL}/{app}/edit/{id}">
        <span class="icon">p</span><span class="label">Edit</span>
      </a>
      <a class="button" href="{baseURL}/_db/{id}">
        <span class="icon">4</span><span class="label">Raw</span>
      </a>
      <form class="delete_form" action="{baseURL}/{app}/delete/{id}" method="POST">
        <div class="button">
          <input class="icon" type="submit" value="X" />
          <input class="label" type="submit" value="Delete" />
        </div>
      </form>
    </td>
  </tr>
{/rows}
