<h1>
  <a href="{baseURL}/">Apps</a>
  <a href="{baseURL}/{app}">{app_heading}</a>
  <strong><a href="{baseURL}/{app}/types/{type}">{type_heading}</a></strong>
</h1>

<div id="main">

  {>"flashmessages.html"/}

  <h2>{type_heading}</h2>

  <div class="top_actions">
    <a class="button" href="{baseURL}/{app}">
      <span class="icon">.</span>
      <span class="label">All types</span>
    </a>
    <a class="button" href="{baseURL}/{app}/types/{type}/add">
      <span class="icon">=</span>
      <span class="label">Add {type}</span>
    </a>
  </div>

  <table class="typelist">
    <!--
    <thead>
      <tr>
        {#field_names}
        <th>{.}</th>
        {/field_names}
        <th class="actions">Actions</th>
      </tr>
    </thead>
    -->
    <tbody>
    {>"typelist_rows.html"/}
    </tbody>
  </table>

</div>
