<h1>
  <a href="{baseURL}/">Apps</a>
  <a href="{baseURL}/{app}">{app_heading}</a>
  <a href="{baseURL}/{app}/{type}">{type_heading}</a>
  <strong><a href="{baseURL}/{app}/{type}/view/{doc._id}">View: {doc._id}</a></strong>
</h1>

<div id="main">

  <table class="viewtype">
    {#fields}
    <tr>
      <th>{field}</th>
      <td>{value}</td>
    </tr>
    {/fields}
  </table>

  <div class="bottom_actions">
    <a class="button" href="{baseURL}/{app}/{type}/edit/{doc._id}">
      <span class="icon">p</span>
      <span class="label">Edit</span>
    </a>
  </div>

</div>
