<h1>
  <a href="{baseURL}/">Apps</a>
  <a href="{baseURL}/{app}">{app_heading}</a>
  <strong><a href="{view_url}">{view_heading}</a></strong>
</h1>

<div id="main">

  {>"flashmessages.html"/}

  <h2>{view_heading}</h2>

  <div class="top_actions">
    <a class="button" href="{baseURL}/{app}">
      <span class="icon">.</span>
      <span class="label">All views</span>
    </a>
  </div>

  <table class="viewlist">
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
        <th class="actions">Actions</th>
      </tr>
    </thead>
    <tbody>
    {>"view_rows.html"/}
    </tbody>
  </table>

  <div class="pagination">
    {?show_prev_link}
      <a href="{prev_link|s}">Prev</a>
    {/show_prev_link}
      <span class="range">{range}</span>
    {?show_next_link}
      <a href="{next_link|s}">Next</a>
    {/show_next_link}
  </div>

</div>
